*{
    margin: 0;
    padding: 0;
    
}


.bg-blue {
    background-color: rgb(101, 198, 239);
}

.text-blue{
    color: rgb(101, 198, 239)
}

.mini_size{
    font-size: small;
}

.extramini_size{
    font-size: smaller;

}

.text_size2{
    font-size: 15px;
}

.li_size{
    font-size: 15px;
    padding-left: 15px;
}


.table {
    border-collapse: collapse;
    width: 95%;
}

.table th, .table td {
    text-align: left;
    border: 2px solid #ddd;
    padding: 10px;
}

.table th {
    background-color: cornflowerblue;
    color: white;
}

.table tr:nth-child(even) {
    background-color:rgb(210, 228, 232);
}
